doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    title Portfólio
  body 

    section#main
      .container-main
        aside 
          .container
            h1 Carolaine Vieira 
              sub Portfolio

            h2 Links rápidos
            ul
              li
                a(href="") Currículo
              li
                a(href="") GitHub
              li
                a(href="") Email
              li
                a(href="") Versão simplificada
              li
                a(href="") Modo noturno
              li
                a(href="") CV Lattes

        #notebook 
          .screen-container
            .screen
              ul#screen-links
                li
                  a(title="Pasta com sumário de habilidades" class="skills")
                    span.fa.fa-folder
                    span.sub Habilidades
                    
                li
                  a(title="Projetos concluídos ou não"  class="projects")
                    span.fa.fa-folder
                    span.sub Projetos

                li
                  a(title="Alguns assuntos que já estudei e estão esperando EXPERÊNCIA..." class="topics")
                    span.fa.fa-file-pdf
                    span.sub Tópicos Estudados

                li
                  a
                    span.fa.fa-folder
                    span.sub Links

                li
                  a
                    span.fa.fa-folder
                    span.sub Designs no Figma e/ou Phot...

                li
                  a(title="Script simples demonstrando a função destes" class="html")
                    span.fa.fa-dice
                    span.sub Como HTML, CSS e JS fun...

              .open-folder 
                .explorer 
                  .header 
                    .circle 
                    .circle 
                    .circle

                  .container 
                    .left 
                      ul 
                        li Tipo
                          ol 
                            li
                              a(href="" class="html") HTML, CSS e JS
                            li
                              a(href="" class="php") PHP com WordPress
                            li
                              a(href="" class="python") Python + Django
                            li
                              a(href="" class="react") React JS
                            li
                              a(href="" class="figma") Figma e Photoshop
                            li
                              a(href="" class="random") Aleatório

                    .right

          .basis

  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(type="module" src="./js/script.js" defer)