doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="shortcut icon", href="./assets/favicon.png", type="image/x-icon")
    title Portfólio
  body 

    section#main
      .container-main
        aside 
          .container
            h1 Carolaine Vieira 
              sub Portfolio                

            h2 Links rápidos
            ul
              li
                a(href="http://eky.hk/upload/file/pdf6182c6f2339c1.pdf" target="_blank") Currículo
              li
                a(href="mailto:s.carolaine.v@gmail.com") Email
              li
                a(href="https://github.com/carolaine-vieira") GitHub           
              //- li
              //-   a(href="") Versão simplificada
              li
                a(href="" class="switch-mode") 
              //- li
              //-   a(href="") CV Lattes

        #notebook 
          .screen-container
            .controls-container
              a(class="close") 
                span.fa.fa-times
                span Fechar

              a(class="maximize") 
                span.fa.fa-window-maximize
                span Maximizar

              a(class="minimize") 
                span.fa.fa-window-minimize
                span Minimizar

            .screen
              ul#screen-links
                li
                  a(title="Pasta com sumário de habilidades" class="skills")
                    span.fa.fa-folder
                    span.sub Habilidades
                    
                li
                  a(title="Projetos concluídos ou não"  class="projects")
                    span.fa.fa-folder
                    span.sub Projetos

                li
                  a(title="Alguns assuntos que estudei" class="topics")
                    span.fa.fa-file-pdf
                    span.sub Tópicos Estudados

                li
                  a(class="links")
                    span.fa.fa-folder
                    span.sub Links

                li
                  a(class="designs")
                    span.fa.fa-images
                    span.sub Designs no Figma e/ou Phot...

                //- li
                //-   a(title="Script simples demonstrando a função destes" class="html")
                //-     span.fa.fa-dice
                //-     span.sub Como HTML, CSS e JS fun...

              .notes

              .open-folder 
                .explorer 
                  .header 
                    .circle 
                    .circle 
                    .circle

                  .container 
                    .left 
                    .right
                
                .view-container

          .basis

  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js")
  script(type="module" src="./js/script.js" defer)
  
