.zoom-out {
  -webkit-animation: zoomOut 1s;
          animation: zoomOut 1s;
}

@-webkit-keyframes zoomOut {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.slide-up {
  -webkit-animation: slideUp 1s;
          animation: slideUp 1s;
}

@-webkit-keyframes slideUp {
  from {
    top: 60px;
  }
  to {
    top: 0;
  }
}

@keyframes slideUp {
  from {
    top: 60px;
  }
  to {
    top: 0;
  }
}

:root {
  --color-accent-one: #17182f;
  --color-accent-two: #ee42b9;
  --color-soft-black: #333333;
  --color-white: #fff;
  --color-black: #333;
  --color-soft-gray: #eee;
  --font-body: 'Montserrat', sans-serif;
  --padding-default: 5%;
}

@media (max-width: 580px) {
  :root {
    --padding-default: 30px;
  }
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-accent-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: var(--font-body);
  color: var(--color-black);
  height: 100vh;
}

canvas {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  overflow: hidden;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

a,
a:hover {
  color: var(--color-black);
  text-decoration: none;
}

::-moz-selection {
  background-color: var(--color-accent-two);
  color: var(--color-white);
}

::selection {
  background-color: var(--color-accent-two);
  color: var(--color-white);
}

::-moz-selection b, ::-moz-selection i, ::-moz-selection a {
  color: var(--color-white);
}

::selection b, ::selection i, ::selection a {
  color: var(--color-white);
}

.wrapper {
  margin: 0 auto;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title-bullets, .header__links li a::before {
  content: '..';
  position: absolute;
  color: var(--color-accent-two);
  line-height: 0;
}

.header {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  color: var(--color-white);
  padding: 50px var(--padding-default);
  font-size: 18px;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.header ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  color: var(--color-white);
}

.header ul li a:hover {
  color: var(--color-accent-two);
}

.header ul li[data-menu="button"] {
  display: none;
}

@media (max-width: 768px) {
  .header ul li[data-menu="button"] {
    display: none;
  }
}

.header a {
  color: var(--color-white);
}

.header a:hover {
  color: var(--color-accent-two);
}

.header__links li a::before {
  top: 0;
  margin-top: -32px;
  font-size: 65px;
  opacity: 0;
}

.header__links li a.active::before, .header__links li a:hover::before {
  opacity: 1;
}

@media (max-width: 768px) {
  .header__links {
    display: none;
  }
}

.header__title {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .header__title {
    text-align: center;
    width: 100%;
    padding-top: 20px;
  }
  .header__title .divider {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding: var(--padding-default);
  }
  .header .my-name {
    display: block;
  }
}

section#main {
  padding: 0 var(--padding-default);
  position: relative;
}

.footer {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 50px var(--padding-default);
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px;
  }
}

.footer__left_social_links_item:last-child, .footer__right_social_links_item:last-child {
  margin-bottom: 0;
}

.footer__left_social_links_item a, .footer__right_social_links_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left_social_links_item a:hover, .footer__right_social_links_item a:hover {
  color: var(--color-accent-two);
}

@media (max-width: 768px) {
  .footer__left_social_links_item a, .footer__right_social_links_item a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer__left_social_links_item, .footer__right_social_links_item {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .footer__left_social_links, .footer__right_social_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__left_social_links li, .footer__right_social_links li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (max-width: 580px) {
  .footer__left_social_links, .footer__right_social_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .fa-brands,
.footer .fa-solid {
  font-size: 30px;
}

@media (max-width: 768px) {
  .footer .fa-brands,
  .footer .fa-solid {
    font-size: 28px;
  }
}

.footer a {
  color: var(--color-white);
}

.footer__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .footer__right ul {
    margin-bottom: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__left_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.footer__left_links ul a:hover {
  color: var(--color-accent-two);
}

@media (max-width: 768px) {
  .footer__left_links ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
    gap: 20px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .footer__left_links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px var(--padding-default) 60px var(--padding-default);
  }
}

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--color-accent-one);
  padding: 30px;
}

.modal ul {
  margin-top: 50px;
}

.modal .header__links {
  display: block !important;
}

.modal .header__links li {
  margin-bottom: 10px;
}

.modal a {
  color: var(--color-white);
}

.modal .close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 35px;
}
/*# sourceMappingURL=global.css.map */