:root {
  --color-accent-one: #2C3E50;
  --color-accent-two: #CB997E;
  --color-white: #fff;
  --color-black: #333;
  --color-soft-gray: #eee;
  --font-body: 'Montserrat', sans-serif;
  --padding-default: 5%;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1800px;
  margin: 0 auto;
  font-family: var(--font-body);
  background-color: #333;
  -webkit-box-shadow: 0 0 30px 5px #222;
          box-shadow: 0 0 30px 5px #222;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background-color: var(--color-accent-one);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a,
a:hover {
  color: var(--color-black);
  text-decoration: none;
}

.wrapper {
  max-width: 1700px;
  margin: 0 auto;
}

.title-bullets, header .header-links li a::before, footer .footer_left_title::before {
  content: '..';
  position: absolute;
  color: var(--color-accent-two);
  line-height: 0;
}

header {
  background-color: var(--color-accent-one);
  color: var(--color-white);
  padding: 50px var(--padding-default);
  font-size: 18px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

header .header-links li a::before {
  top: 0;
  margin-top: -32px;
  font-size: 65px;
  opacity: 0;
}

header .header-links li a.active::before, header .header-links li a:hover::before {
  opacity: 1;
}

header a {
  color: var(--color-white);
}

header a:hover {
  color: var(--color-accent-two);
}

header .site-title {
  margin: 0;
  font-size: 18px;
}

section#site-intro {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  color: var(--color-white);
  font-weight: 300;
  font-size: 28px;
  padding: 40px;
  margin-bottom: 30px;
}

section#site-intro span {
  color: var(--color-accent-two);
}

section#main {
  padding: 0 var(--padding-default);
}

section.home::after,
section.home::before,
section.project::before,
section.project::after,
footer::after {
  content: '';
  position: absolute;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  left: 0;
}

footer {
  background-image: url("../assets//SVGS/wave-2.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 400px;
  padding: 0px var(--padding-default) var(--padding-default) var(--padding-default);
  position: relative;
  z-index: 1;
  top: 0;
  margin-top: 5%;
  background-position: 0 30px;
}

footer::after {
  background-color: var(--color-accent-one);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  z-index: 0;
}

footer .footer {
  background-color: var(--color-accent-one);
  margin: 0 10%;
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-white);
  top: -100px;
}

footer .footer_left_social_links_item, footer .footer_right_social_links_item {
  margin-bottom: 15px;
}

footer .footer_left_social_links_item:last-child, footer .footer_right_social_links_item:last-child {
  margin-bottom: 0;
}

footer .footer_left_social_links_item a, footer .footer_right_social_links_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_left_social_links_item a:hover, footer .footer_right_social_links_item a:hover {
  color: var(--color-accent-two);
}

footer .footer_left_social_links_item a .icon, footer .footer_right_social_links_item a .icon {
  padding: 10px 20px 10px 0;
}

footer .footer .fa {
  font-size: 30px;
}

footer .footer a {
  color: var(--color-white);
}

footer .footer_left, footer .footer_right {
  padding: 50px;
}

footer .footer_left b, footer .footer_right b {
  display: block;
}

footer .footer_left {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

footer .footer_left_title {
  margin: 0 0 60px 0;
  font-size: 26px;
  position: relative;
  font-weight: 600;
}

footer .footer_left_title::before {
  bottom: -10px;
  font-size: 40px;
  letter-spacing: 8px;
}

footer .footer_right {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

footer .footer_right_links {
  margin: 40px 0 0 0;
}

footer .footer_right_links .label {
  opacity: 0.7;
  display: block;
  margin-bottom: 30px;
}

footer .footer_right_links ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

footer .footer_right_links ul a:hover {
  color: var(--color-accent-two);
}

section.project {
  background: var(--color-white);
  padding: 0 var(--padding-default) var(--padding-default) var(--padding-default) !important;
  position: relative;
}

section.project::before {
  background-image: url("../assets/SVGS/wave-3.svg");
  top: 0;
  height: 300px;
}

section.project::after {
  background-color: var(--color-white);
  height: 100vh;
}

section.project .swiper_project {
  border-radius: 5px;
  overflow: hidden;
}

section.project .swiper_project_slide_image {
  height: 50vh;
  background-size: 100% auto;
}

section.project .swiper_project_pagination_prev, section.project .swiper_project_pagination_next {
  color: var(--color-white);
  z-index: 9;
}

section.project .swiper_project_pagination_prev::after, section.project .swiper_project_pagination_next::after {
  font-size: 35px;
}

section.project .swiper_project_pagination_prev {
  left: 20px;
}

section.project .swiper_project_pagination_next {
  right: 20px;
}

section.project .swiper_project_info {
  background-color: var(--color-accent-two);
  color: var(--color-white);
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.project .swiper_project_pagination_count {
  width: auto;
}

section.project .swiper_project_pagination_count .swiper-pagination-current {
  font-weight: 600;
}

section.project .about {
  padding: var(--padding-default);
  text-align: center;
}

section.project .about_title {
  font-size: 25px;
  font-weight: 700;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
}

section.project .about_title[data-shadow] {
  position: relative;
}

section.project .about_title[data-shadow]::before, section.project .about_title[data-shadow]::after {
  content: attr(data-shadow);
  position: absolute;
  top: 0;
}

section.project .about_title[data-shadow]::before {
  color: var(--color-accent-one);
  z-index: 1;
  text-shadow: -0.1em 0.15em 0 var(--color-soft-gray);
}

section.project .about_title[data-shadow]::after {
  color: var(--color-soft-gray);
  font-size: 40px;
  z-index: 0;
  opacity: 0.8;
  font-style: italic;
}

section.project .about_description {
  max-width: 50%;
  padding: 20px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 17px;
}

section.project .swipers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

section.project .swipers-container .swiper_multi {
  overflow: hidden;
  border-radius: 5px;
  width: calc(100% / 3);
}

section.project .swipers-container .swiper_multi_slide {
  height: 20vh;
  overflow: hidden;
}

section.project .swipers-container .swiper_multi_info {
  position: absolute;
  bottom: 15px;
  margin: 0 15px;
  width: calc(100% - 30px);
  background-color: var(--color-black);
  z-index: 1;
  min-height: 20px;
  padding: 6px 10px;
  text-align: center;
  font-size: 14px;
  color: var(--color-white);
  border-radius: 5px;
}

section.project .swipers-container .swiper_multi_prev {
  left: 10px;
}

section.project .swipers-container .swiper_multi_next {
  right: 0;
}

section.project .swipers-container .swiper_multi_prev::after, section.project .swipers-container .swiper_multi_next::after {
  font-size: 15px;
  color: var(--color-white);
}
/*# sourceMappingURL=global.css.map */