.zoom-out {
  -webkit-animation: zoomOut 1s;
          animation: zoomOut 1s;
}

@-webkit-keyframes zoomOut {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.slide-up, section.home .swiper_home {
  -webkit-animation: slideUp 1s;
          animation: slideUp 1s;
}

@-webkit-keyframes slideUp {
  from {
    top: 60px;
  }
  to {
    top: 0;
  }
}

@keyframes slideUp {
  from {
    top: 60px;
  }
  to {
    top: 0;
  }
}

:root {
  --color-accent-one: #111;
  --color-accent-two: #b34536;
  --color-soft-black: #333333;
  --color-white: #fff;
  --color-black: #333;
  --color-soft-gray: #eee;
  --font-body: 'Montserrat', sans-serif;
  --padding-default: 4%;
}

@media (max-width: 580px) {
  :root {
    --padding-default: 30px;
  }
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-soft-gray);
  font-family: var(--font-body);
  color: var(--color-black);
  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  background-color: var(--color-accent-one);
  width: 50%;
  height: 100%;
}

@media (max-width: 580px) {
  body::after {
    width: 30%;
  }
}

canvas {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  overflow: hidden;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

a,
a:hover {
  color: var(--color-black);
  text-decoration: none;
}

::-moz-selection {
  background-color: var(--color-accent-two);
  color: var(--color-white);
}

::selection {
  background-color: var(--color-accent-two);
  color: var(--color-white);
}

::-moz-selection b, ::-moz-selection i, ::-moz-selection a {
  color: var(--color-white);
}

::selection b, ::selection i, ::selection a {
  color: var(--color-white);
}

.wrapper {
  margin: 0 auto;
}

.header {
  padding: 70px var(--padding-default) 50px var(--padding-default);
  font-size: 18px;
  position: relative;
  z-index: 9;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-weight: 300;
}

.header ul li {
  font-size: 16px;
}

.header ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  color: var(--color-white);
}

.header ul li a:hover {
  color: var(--color-accent-two);
}

.header [data-menu="button"] {
  display: none;
  font-size: 30px;
}

.header [data-menu="button"] a {
  color: var(--color-white);
}

@media (max-width: 980px) {
  .header [data-menu="button"] {
    display: block;
  }
}

.header a {
  color: var(--color-black);
}

.header a:hover {
  color: var(--color-accent-two);
}

@media (max-width: 980px) {
  .header__links {
    display: none;
  }
}

.header__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Playfair Display';
}

.header__title span {
  font-family: var(--font-body);
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  opacity: 0.6;
  display: block;
}

@media (max-width: 980px) {
  .header__title {
    font-size: 25px;
    font-weight: 500;
  }
}

@media (max-width: 980px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 30px var(--padding-default);
  }
}

section#main {
  padding: 0 var(--padding-default);
  position: relative;
}

.footer {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 50px var(--padding-default);
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 980px) {
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__left_social_links_item:last-child, .footer__right_social_links_item:last-child {
  margin-bottom: 0;
}

.footer__left_social_links_item a, .footer__right_social_links_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left_social_links_item a:hover, .footer__right_social_links_item a:hover {
  color: var(--color-accent-two);
}

@media (max-width: 980px) {
  .footer__left_social_links_item a, .footer__right_social_links_item a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 980px) {
  .footer__left_social_links_item, .footer__right_social_links_item {
    text-align: left;
  }
}

@media (max-width: 980px) {
  .footer__left_social_links, .footer__right_social_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__left_social_links li, .footer__right_social_links li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (max-width: 580px) {
  .footer__left_social_links, .footer__right_social_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .fa-brands,
.footer .fa-solid {
  font-size: 30px;
}

@media (max-width: 980px) {
  .footer .fa-brands,
  .footer .fa-solid {
    font-size: 28px;
  }
}

.footer a {
  color: var(--color-white);
}

.footer__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media (max-width: 980px) {
  .footer__right ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__left {
  color: var(--color-white);
  opacity: 0.8;
}

@media (max-width: 980px) {
  .footer__left {
    display: none;
  }
}

@media (max-width: 980px) {
  .footer {
    background-color: #222344;
    padding: 20px var(--padding-default);
  }
}

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--color-accent-one);
  padding: 30px;
}

.modal ul {
  margin-top: 50px;
}

.modal .header__links {
  display: block !important;
}

.modal .header__links li {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.modal a {
  color: var(--color-white);
}

.modal a:hover {
  color: var(--color-accent-two);
}

.modal .close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 35px;
}

section.home {
  position: relative;
  padding-top: 0px !important;
}

section.home .swiper_home {
  margin-top: 20px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

@media (min-width: 980px) {
  section.home .swiper_home .swiper-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section.home .swiper_home_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  overflow: hidden;
}

section.home .swiper_home_slide img {
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

@media (min-width: 980px) {
  section.home .swiper_home_slide img {
    height: 100%;
  }
}

section.home .swiper_home_slide_description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background-color: var(--color-white);
  padding: 30px;
  text-align: justify;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.home .swiper_home_slide_description h2 {
  margin: 0 0 40px 0;
  position: relative;
}

section.home .swiper_home_slide_description h2 sub {
  display: block;
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
  opacity: 0.5;
  font-style: italic;
}

@media (max-width: 980px) {
  section.home .swiper_home_slide_description h2 sub {
    font-size: 13px;
  }
}

section.home .swiper_home_slide_description h2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  border-bottom: 2px solid var(--color-soft-gray);
  width: 30px;
}

@media (max-width: 980px) {
  section.home .swiper_home_slide_description h2 {
    font-size: 18px;
  }
}

section.home .swiper_home_slide_description_technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.home .swiper_home_slide_description_technologies span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: var(--color-soft-gray);
  font-size: 12px;
  font-weight: 400;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #777;
}

section.home .swiper_home_slide_description_technologies span:hover {
  background-color: var(--color-accent-two);
  color: var(--color-white);
}

section.home .swiper_home_slide_description_link {
  display: block;
  position: relative;
  margin: 50px 0 0 0;
  font-size: 14px;
}

section.home .swiper_home_slide_description_link::after {
  content: '';
  position: absolute;
  left: 0;
  top: -15px;
  border-bottom: 2px solid var(--color-soft-gray);
  width: 30px;
}

section.home .swiper_home_slide_description_link a:hover {
  color: var(--color-accent-two);
}

@media (max-width: 980px) {
  section.home .swiper_home_slide_description_link {
    margin: 80px 0 0 0;
  }
}

@media (max-width: 980px) {
  section.home .swiper_home_slide_description {
    min-height: 230px;
    display: block;
  }
}

@media (min-width: 980px) {
  section.home .swiper_home_slide.swiper-slide-prev {
    margin-left: calc(-12% + 20px);
  }
}

@media (min-width: 980px) {
  section.home .swiper_home_slide.swiper-slide-active {
    z-index: 2;
    width: 50% !important;
  }
}

section.home .swiper_home_slide.swiper-slide-active.show-description .swiper_home_slide_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.home .swiper_home_slide.swiper-slide-active.show-description img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  overflow: hidden;
}

@media (min-width: 980px) {
  section.home .swiper_home_slide {
    height: calc(70vh - 50px);
  }
}

@media (max-width: 980px) {
  section.home .swiper_home_slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section.home .navigation {
  position: absolute;
  bottom: -0px;
  height: 30px;
  width: 55px;
  border-radius: 3px;
  right: 0;
}

@media (max-width: 980px) {
  section.home .navigation {
    width: 100%;
  }
}

section.home .swiper-button-prev {
  left: 0px;
}

section.home .swiper-button-next {
  right: 0px;
}

section.home .swiper-button-prev::after,
section.home .swiper-button-next::after {
  color: var(--color-white);
  font-size: 20px;
}

@media (max-width: 980px) {
  section.home .swiper-button-prev::after,
  section.home .swiper-button-next::after {
    text-shadow: 0 0 10px black;
  }
}

section.home .swiper-button-prev:hover::after,
section.home .swiper-button-next:hover::after {
  color: var(--color-accent-two);
}

@media (max-width: 980px) {
  section.home {
    margin: calc(var(--padding-default) + 90px) auto 40px auto;
  }
}
/*# sourceMappingURL=home.css.map */