@import './global.scss';

section.home {
  position: relative;
  padding-top: 0px !important;

  .swiper_home {
    top: 0;
    @extend .slide-up;
    display: flex;
    align-items: center;

    .swiper-wrapper {
      align-items: center;
    }

    &_slide {
      display: flex;
      justify-content: center;

      &_image {        
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
          max-height: calc(90vh - 300px);
        }
      }

      &_description {
        flex: 0 0 40%;
        background-color: var(--color-white);
        padding: 30px;
        text-align: justify;
        display: none;
        justify-content: space-between;
        flex-direction: column;

        h2 {
          margin: 0 0 40px 0;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -15px;
            border-bottom: 2px solid var(--color-soft-gray);
            width: 30px;
          }
        }

        &_technologies {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;

          span {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: var(--color-soft-gray);
            font-size: 12px;
            font-weight: 500;
            height: fit-content;

            &:hover {
              background-color: var(--color-accent-two);
              color: var(--color-white);
            }
          }
        }

        &_link {
          display: block;
          position: relative;
          margin: 50px 0 0 0;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: -15px;
            border-bottom: 2px solid var(--color-soft-gray);
            width: 30px;
          }

          &:hover {
            color: var(--color-accent-two);
          }
        }      
        
        @media (max-width: $tablet) {
          min-height: 230px;
        }
      }

      &.show-description {
        .swiper_home_slide_description {          
          display: flex;          
        }

        .swiper_home_slide_image {
          img {
            height: 100%;
          }
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: var(--color-white);
    font-size: 35px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 5%;
  }
}

.home-header-svg {
  path {
    fill: var(--color-accent-two);
  }
}