:root {
  --color-accent-one: #2C3E50;
  --color-accent-two: #CB997E;
  --color-white: #fff;
  --color-black: #333;
  --font-body: 'Montserrat', sans-serif;
  --padding-default: 5%;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1800px;
  margin: 0 auto;
  font-family: var(--font-body);
  background-color: #333;
  -webkit-box-shadow: 0 0 30px 5px #222;
          box-shadow: 0 0 30px 5px #222;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  background-color: var(--color-accent-one);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a,
a:hover {
  color: var(--color-black);
  text-decoration: none;
}

.wrapper {
  max-width: 1700px;
  margin: 0 auto;
}

header {
  background-color: var(--color-accent-one);
  color: var(--color-white);
  padding: 50px var(--padding-default);
  font-size: 18px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

header .header-links li a::before {
  content: '..';
  position: absolute;
  color: var(--color-accent-two);
  top: 0;
  margin-top: -32px;
  line-height: 0;
  font-size: 65px;
  opacity: 0;
}

header .header-links li a.active::before, header .header-links li a:hover::before {
  opacity: 1;
}

header a {
  color: var(--color-white);
}

header a:hover {
  color: var(--color-accent-two);
}

header .site-title {
  margin: 0;
  font-size: 18px;
}

section#site-intro {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  color: var(--color-white);
  font-weight: 300;
  font-size: 28px;
  padding: 40px;
  margin-bottom: 30px;
}

section#main {
  padding: 0 var(--padding-default);
}

section.home::after,
section.home::before,
footer::after {
  content: '';
  position: absolute;
  width: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  left: 0;
}

footer {
  background-image: url("../assets//SVGS/wave-2.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 400px;
  padding: 0px var(--padding-default) var(--padding-default) var(--padding-default);
  position: relative;
  z-index: 1;
  top: 0;
  margin-top: 5%;
  background-position: 0 30px;
}

footer::after {
  background-color: var(--color-accent-one);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 20px;
  z-index: 0;
}

footer .footer {
  background-color: var(--color-accent-one);
  margin: 0 10%;
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-white);
  top: -100px;
}

footer .footer .fa {
  font-size: 30px;
}

footer .footer a {
  color: var(--color-white);
}

footer .footer_left, footer .footer_right {
  padding: 40px;
}

footer .footer_left {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

footer .footer_left_title {
  margin: 0 0 60px 0;
  font-size: 28px;
  position: relative;
}

footer .footer_left_title::before {
  content: '..';
  position: absolute;
  color: var(--color-accent-two);
  bottom: -10px;
  line-height: 0;
  font-size: 40px;
  letter-spacing: 8px;
}

footer .footer_left_social_links_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_left_social_links_item a .icon {
  padding: 10px 20px 10px 0;
}

footer .footer_right {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

section.home {
  position: relative;
  background-color: var(--color-accent-one);
  min-height: 60vh;
  padding-top: 0px !important;
}

section.home::before {
  height: 1000px;
  top: -80px;
  background-image: url("../assets//SVGS/wave-1.svg");
}

section.home::after {
  background-color: var(--color-accent-two);
  height: 100vh;
  top: 80px;
  z-index: 0;
}

section.home .swiper_home {
  border-radius: 5px;
  overflow: hidden;
}

section.home .swiper_home_slide_top, section.home .swiper_home_slide_pagination {
  background-color: var(--color-white);
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.home .swiper_home_slide_top {
  border-radius: 5px 5px 0 0;
}

section.home .swiper_home_slide_top_technology {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eee;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

section.home .swiper_home_slide_top_view {
  font-weight: 500;
}

section.home .swiper_home_slide_image {
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
}

section.home .swiper_home_slide_pagination {
  border-radius: 0 0 5px 5px;
}

section.home .swiper_home_slide_pagination_label, section.home .swiper_home_slide_pagination_link {
  display: block;
}

section.home .swiper_home_slide_pagination_label {
  margin-bottom: 5px;
  font-size: 13px;
}

section.home .swiper_home_slide_pagination_link {
  font-size: 16px;
  font-weight: 600;
}

section.home .swiper_home_slide_pagination_prev, section.home .swiper_home_slide_pagination_next {
  cursor: pointer;
}

section.home .swiper_home_slide_pagination_prev:hover {
  color: var(--color-accent-two);
}

section.home .swiper_home_slide_pagination_next {
  text-align: right;
}

section.home .swiper_home_slide_pagination_next:hover {
  color: var(--color-accent-one);
}
/*# sourceMappingURL=index.css.map */