section.project {
  background: var(--color-white);
  padding: 0 var(--padding-default) var(--padding-default) var(--padding-default) !important;
  position: relative;
}

section.project::after {
  background-color: var(--color-white);
  height: 100vh;
}

section.project .swiper_project {
  border-radius: 5px;
  overflow: hidden;
}

section.project .swiper_project_pagination_prev, section.project .swiper_project_pagination_next {
  color: var(--color-white);
  z-index: 9;
  text-shadow: 0 0 5px #000;
}

section.project .swiper_project_pagination_prev::after, section.project .swiper_project_pagination_next::after {
  font-size: 35px;
}

section.project .swiper_project_pagination_prev {
  left: 20px;
}

section.project .swiper_project_pagination_next {
  right: 20px;
}

section.project .swiper_project_info {
  background-color: var(--color-accent-two);
  color: var(--color-white);
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  position: relative;
}

section.project .swiper_project_pagination_count {
  width: auto;
}

section.project .swiper_project_pagination_count .swiper-pagination-current {
  font-weight: 600;
}

section.project .about {
  padding: var(--padding-default);
  text-align: center;
}

section.project .about_title {
  font-size: 25px;
  font-weight: 700;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
}

section.project .about_title[data-shadow] {
  position: relative;
}

section.project .about_title[data-shadow]::before, section.project .about_title[data-shadow]::after {
  content: attr(data-shadow);
  position: absolute;
  top: 0;
}

section.project .about_title[data-shadow]::before {
  color: var(--color-accent-one);
  z-index: 1;
  text-shadow: -0.1em 0.15em 0 var(--color-soft-gray);
}

section.project .about_title[data-shadow]::after {
  color: var(--color-soft-gray);
  font-size: 40px;
  z-index: 0;
  opacity: 0.8;
  font-style: italic;
}

section.project .about_description {
  max-width: 50%;
  padding: 20px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 17px;
}

section.project .swipers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

section.project .swipers-container .swiper_multi {
  overflow: hidden;
  border-radius: 5px;
  width: calc(100% / 3);
}

section.project .swipers-container .swiper_multi_slide {
  height: 20vh;
  min-height: 250px;
  overflow: hidden;
}

section.project .swipers-container .swiper_multi_info {
  position: absolute;
  bottom: 15px;
  margin: 0 15px;
  width: calc(100% - 30px);
  background-color: var(--color-black);
  z-index: 1;
  min-height: 20px;
  padding: 6px 10px;
  text-align: center;
  font-size: 14px;
  color: var(--color-white);
  border-radius: 5px;
}

section.project .swipers-container .swiper_multi_prev {
  left: 10px;
}

section.project .swipers-container .swiper_multi_next {
  right: 0;
}

section.project .swipers-container .swiper_multi_prev::after, section.project .swipers-container .swiper_multi_next::after {
  font-size: 15px;
  color: var(--color-white);
}

.artifacts {
  background-color: var(--color-soft-gray);
  padding: calc(var(--padding-default) * 1.5) var(--padding-default);
  position: relative;
  margin-bottom: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.artifacts__item_image span {
  font-size: 50px;
}

.artifacts__item_image span.fa-figma, .artifacts__item_image span.lnr-file-empty {
  color: var(--color-accent-two);
}

.artifacts__item_image span.lnr-rocket, .artifacts__item_image span.lnr-picture {
  color: var(--color-accent-one);
}

.artifacts__item_subtitle {
  font-size: 14px;
  margin: 15px 0 5px 0;
  opacity: 0.8;
}

.artifacts__item_title {
  font-size: 17px;
  font-weight: 500;
}
/*# sourceMappingURL=project.css.map */