@import './global.scss';

.tags-list {
  position: relative;
  z-index: 1;
  padding: 0 var(--padding-default) var(--padding-default) var(--padding-default);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  &__tag {
    background-color: #eee;
    padding: 15px;
    border-radius: 3px;

    &:hover {
      background-color: var(--color-accent-two);
      color: var(--color-white);
    }
    
    @media (max-width: $mobile) {
      padding: 8px 10px;
    }
  }

  @media (max-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
    font-size: 14px;
  }

  @media (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
    font-size: 11px;
    gap: 5px;
  }
}